.container{
    height: 94vh;
    width: 205%;
    position: absolute;
    // background-color: floralwhite;
    margin-left: 14%;
}
.card{
    
    height: 70vh;
    width: 62vw;
    margin-left: 18%;
    position: relative;
    margin-top: 4%;
}
.head{
    background-color: #9c27b0;
    border-radius: 6px;
    height: 8vh;
    width: 58.5vw;
    margin-left: 20%;
    position: absolute;
    margin-top: 3%;
    z-index: 2;

}
.profile{
    color: white;
    padding-top: 1%;
    margin-left: 3%;
    font-size: 1vw;
}
@media screen and (max-width: 768px){
}