<div class="container">
  <div class="row" style="margin-left: -2%;">

    <div class="spacecard col-md-3">
      <div class="card-icon mat-elevation-z8">
        <i class="material-icons">content_copy</i>
      </div><br>
      <mat-divider></mat-divider>
      <i class="material-icons text-danger">warning</i>
      <p>Get more Space..</p>
    </div>

    <div class="spacecard col-md-3">
      <div class="card-icon1 mat-elevation-z8">
        <i class="material-icons">store</i>
      </div>
    </div>

    <div class="spacecard col-md-3">
      <div class="card-icon2 mat-elevation-z8">
        <i class="material-icons">info_outline</i>
      </div>
    </div>

    <div class="spacecard col-md-3">
      <div class="card-icon3 mat-elevation-z8">
        <i class="fab fa-twitter"></i>

        <!-- <<pseudo:before>></<pseudo:before>> -->

      </div>
    </div>

  </div>
  <div class="row">

    <div class="chart ">
      <canvas id="barChart" height="200px" width="460px"></canvas>
    </div>

    <div class="chart1 ">
      <canvas id="lineChart" height="200px" width="460px"></canvas>
    </div>
    <div class="chart2">
      <canvas id="doughnutChart" height="200px" width="460px"></canvas>
    </div>

  </div>



  <div class="row">

    <div class="col-lg-6 col-md-12 tablelist">

      <div class="card">
        <div class="card-header card-header-warning heads">
          <div class="row">

            <button mat-button class="col-md-2 btn" id="btn-1">
              <i class="material-icons headicon">bug_report</i>
              <p class="text1">BUGS</p>
            </button>
            <button mat-button class="col-md-2 btn" id="btn-2">
              <i class="material-icons headicon">code</i>
              <p class="text1">WEBSITE</p>
            </button>
            <button mat-button class="col-md-2 btn" id="btn-3">
              <i class="material-icons headicon">cloud</i>
              <p class="text1">SERVER</p>
            </button>
            <!-- <div class="col-md-6"></div> -->
          </div>
        </div>
        <div class="card-body">
          <div id="container">
            <p class="text" id="text-1">
              <mat-checkbox class="red">
                Sign contract for "What are conference organizers afraid of?"
                <div class="qe">
                  <i class="material-icons edit">edit</i>
                  <i class="material-icons closed">close</i></div>
              </mat-checkbox><br>
              <mat-divider style="width:35vw"></mat-divider><br>

              <mat-checkbox class="red">
                Lines From Great Russian Literature? Or E-mails From My Boss?
                <div class="qe">
                  <i class="material-icons edit">edit</i>
                  <i class="material-icons closed">close</i></div>
              </mat-checkbox><br>
              <mat-divider style="width:35vw"></mat-divider><br>

              <mat-checkbox class="reded">
                Flooded: One year later, assessing what waslost and what was<br> found when a
                ravaging rain swept through metro Detroit
                <div class="qe">
                  <i class="material-icons edit">edit</i>
                  <i class="material-icons closed" id="delete">close</i></div>
              </mat-checkbox><br>
              <mat-divider class="divide" style="width:35vw"></mat-divider><br>

              <mat-checkbox class="red">
                Create 4 Invisible User Experiences you Never Knew About
         <div class="qe">
                  <i class="material-icons edit">edit</i>
                  <i class="material-icons closed">close</i>
                </div>
              </mat-checkbox><br>
              <mat-divider style="width:35vw"></mat-divider><br>
            </p>

            <p class="text" id="text-2">
              HI i'm numbr 2
            </p>
            <p class="text" id="text-3">
              HI i'm numbr 3
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 tablelist">

      <div class="card">
        <div class="card-header card-header-warning head">
          <h4 class="card-title">Employees Stats</h4>
          <p class="card-category">New employees on 15th September, 2016</p>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>$36,738</td>
                <td>Niger</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Minerva Hooper</td>
                <td>$23,789</td>
                <td>Curaçao</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Sage Rodriguez</td>
                <td>$56,142</td>
                <td>Netherlands</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Philip Chaney</td>
                <td>$38,735</td>
                <td>Korea, South</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>