<div class="sidenav">

    <img class="sidenav1" src="../../assets/images/sidebar.jpg" alt=""/>

    <p class="text">CREATIVE TIM</p><br>


    <div class="cards" routerLink="/dashboard" >
        <i class="material-icons">dashboard</i>
        <p  class="text1" >Dashboard</p>
    </div><br>

    <div class="cards" routerLink="/person">

        <i class="material-icons">person</i>
        <p class="text1">person</p>

    </div><br>

    <div class="cards" routerLink="/tab" >

        <i class="material-icons">content_paste</i>
        <p class="text1">Table List</p>

    </div><br>

    <div class="cards" routerLink="/typography">

        <i class="material-icons">library_books</i>
        <p class="text1">Typography</p>

    </div><br>

    <div class="cards" routerLink="/icons">

        <i class="material-icons">bubble_chart</i>
        <p class="text1">icons</p>

    </div><br>

    <div class="cards" routerLink="/notification">

        <i class="material-icons">notifications</i>
        <p class="text1">notifications</p>

    </div>
  
</div>

<app-footer></app-footer>